<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Motion Vision Test {{ test.pk }}</h1>
    <p>Optotype order: {{ test.optotype_order }}</p>
    <p>Rotation speed: {{ test.rotation_speed }}</p>
    <p>Correct direction: {{ test.correct_direction }}</p>

    <h2>Optotypes:</h2>
    <ul>
    {% for optotype in test.optotypes.all %}
        {% if optotype.optotype_image %}
            <li>{{ optotype.optotype_id }} - <img src="{{ optotype.optotype_image.url }}" alt="{{ optotype.optotype_char }}"></li>
        {% else %}
            <li>{{ optotype.optotype_id }} - {{ optotype.optotype_char }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</body>
</html>
