{% extends "auth_base.html" %}
{% load static %}

{% block title %}Test{% endblock %}

{% block extra_css %}
    <style>
         @font-face {
      font-family: 'Snellen';
      src: url('/static/fonts/snellen.ttf'); /* Reemplaza con la ruta correcta del archivo de fuente */
    }
        td {
    color: black;
      text-align: center;
      font-size: 10px;
      font-family: 'Snellen', sans-serif;
      vertical-align: middle;

      </style>


    <link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'etc/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/custombox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />


{% endblock %}


{% block content %}

    <div id="wrapper">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">EyeQFocus</li>
                                    <li class="breadcrumb-item">Menú</li>

                                </ol>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- first row -->
                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/1.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de visión rojo-verde</h5>
                                <p class="card-text">Evaluación que permite determinar la capacidad del paciente para distinguir los colores rojo y verde, lo cual ayuda a afinar la prescripción de gafas y mejorar la visión en general.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/2.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de astigmatismo</h5>
                                <p class="card-text">Prueba que identifica y cuantifica la presencia de astigmatismo en los ojos. Utiliza un dispositivo con diales para medir las irregularidades en la curvatura de la córnea y determinar la corrección óptica necesaria.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/3.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de figuras</h5>
                                <p class="card-text">Evalúa la percepción visual y la capacidad de reconocer formas específicas, especialmente dirigida a niños. Permite detectar posibles deficiencias o dificultades en la percepción de contornos y detalles.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/4.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de visión de colores</h5>
                                <p class="card-text">Evaluación que emplea una serie de placas con patrones de colores ocultos así examina la capacidad del paciente para distinguir diferentes tonalidades. Ayuda a detectar trastornos del color, como la discromatopsia.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                 <!-- 2nd row -->
                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/5.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Carta ETDRS</h5>
                                <p class="card-text">Evalúa la agudeza visual utilizando letras o símbolos de tamaño variable. Permite medir con precisión la capacidad de reconocer y distinguir objetos a diferentes distancias, facilitando la prescripción adecuada de correcciones ópticas.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/6.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de optotipos de una línea</h5>
                                <p class="card-text">Proporciona múltiples opciones de optotipos en una única línea, lo cual permite evaluar la visión con mayor eficiencia y rapidez. Esta prueba es especialmente útil en revisiones oftalmológicas rutinarias y facilita la detección de cambios en la agudeza visual.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/7.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test optocinético</h5>
                                <p class="card-text">Evaluación que analiza los movimientos oculares sacádicos mediante la observación de patrones en movimiento. Permite determinar la función y coordinación de los músculos oculares, así como detectar posibles alteraciones en el seguimiento visual.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-3">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{% static 'images/8.png' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Test de percepción de profundidad</h5>
                                <p class="card-text">Esta herramienta es utilizada con lentes de colores (azul-rojo o verde-rojo) para evaluar la percepción tridimensional y la capacidad de juzgar distancias. Esta prueba es útil para diagnosticar y tratar problemas de estereopsis y percepción espacial.</p>
                                <a href="javascript:void(0);" class="btn btn-blue waves-effect waves-light">Hacer Test</a>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->











                <!-- Test de Snellen programado (no está centrado)
                <h2 class="mt-0 mb-5">Test de Snellen</h2>

                <div class="row">
                <table>
                  <tr>
                    <td style="text-align: center; font-size: 3.5rem; line-height: 1;vertical-align: middle;">E</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 1.75rem; line-height: 1;vertical-align: middle;">H</td>
                    <td style="text-align: center; font-size: 1.75rem; line-height: 1;vertical-align: middle;">Z</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 1.23rem; line-height: 1;">S</td>
                    <td style="text-align: center; font-size: 1.23rem; line-height: 1;">V</td>
                    <td style="text-align: center; font-size: 1.23rem; line-height: 1;">O</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.875rem; line-height: 1;">N</td>
                    <td style="text-align: center; font-size: 0.875rem; line-height: 1;">D</td>
                    <td style="text-align: center; font-size: 0.875rem; line-height: 1;">Z</td>
                    <td style="text-align: center; font-size: 0.875rem; line-height: 1;">O</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.7rem; line-height: 1;">K</td>
                    <td style="text-align: center; font-size: 0.7rem; line-height: 1;">O</td>
                    <td style="text-align: center; font-size: 0.7rem; line-height: 1;">S</td>
                    <td style="text-align: center; font-size: 0.7rem; line-height: 1;">O</td>
                    <td style="text-align: center; font-size: 0.7rem; line-height: 1;">V</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">O</td>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">K</td>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">Z</td>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">R</td>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">D</td>
                    <td style="text-align: center; font-size: 0.525rem; line-height: 1;">C</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">V</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">C</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">H</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">N</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">S</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">T</td>
                    <td style="text-align: center; font-size: 0.4375rem; line-height: 1;">D</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">Z</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">E</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">G</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">U</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">E</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">L</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">Q</td>
                    <td style="text-align: center; font-size: 0.35rem; line-height: 1;">P</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">U</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">C</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">I</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">R</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">B</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">P</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">F</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">T</td>
                    <td style="text-align: center; font-size: 0.2625rem; line-height: 1;">L</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">Z</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">O</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">C</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">L</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">B</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">E</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">P</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">T</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">E</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">I</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">V</td>
                    <td style="text-align: center; font-size: 0.2125rem; line-height: 1;">D</td>
                  </tr>
                  <tr>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">S</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">F</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">Z</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">V</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">D</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">P</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">N</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">R</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">E</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">O</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">T</td>
                    <td style="text-align: center; font-size: 0.175rem; line-height: 1;">K</td>
                  </tr>
                </table>
                    -->





                </div> <!-- end row-->


            </div> <!-- container -->

        </div> <!-- content -->
    </div>

{% endblock content %}

{% block extra_javascript %}
    <script src="{% static 'etc/vendor.min.js' %}"></script>
    <script src="{% static 'etc/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'etc/bootstrap-tables.init.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/jquery.chat.js' %}"></script>
    <script src="{% static 'js/jquery.todo.js' %}"></script>
    <script src="{% static 'js/dashboard-3.init.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/parsley.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.wizard.min.js' %}"></script>
    <script src="{% static 'js/form-wizard.init.js' %}"></script>
    <script src="{% static 'js/form-validation.init.js' %}"></script>
    <script src="{% static 'etc/custombox.min.js' %}"></script>
    <script src="{% static 'etc/form-pickers.init.js' %}"></script>
    <script src="{% static 'etc/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'etc/flatpickr.min.js' %}"></script>
{% endblock %}