{% extends "auth_base.html" %}
{% load static %}

{% block title %}Test de astigmatismo{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/custombox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
    <div id="wrapper">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">EyeQFocus</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tests</a></li>
                                    <li class="breadcrumb-item active">Rojo-Verde</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Tests</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-box ribbon-box">
                            <div class="ribbon ribbon-blue float-left">
                                <i class="mdi mdi-access-point mr-1"></i> Test de astigmatismo
                            </div>

                            <div class="ribbon-content">
                                <p class="mb-0">
                                    Prueba que identifica y cuantifica la presencia de astigmatismo en los ojos. Utiliza un dispositivo con diales para medir las irregularidades en la curvatura de la córnea y determinar la corrección óptica necesaria.</p>
                                <p class="mb-0">
                                    <br>
                                </p>
                                
                            </div>
                            <div class="button">
                                <div class="text-center">
                                    <img src="{% static 'images/placeholder.png' %}" id="fullscreen-image"
                                         alt="Imagen de marcador de posición"
                                         class="img-fluid fullscreen-image"
                                         style="max-width: 100px; max-height: 100px;"
                                         onclick="toggleFullscreen('fullscreen-image')"/>

                               </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-box ribbon-box">

                            <div class="ribbon ribbon-blue float-left">
                                <i class="mdi mdi-access-point mr-1"></i> Recursos Visuales
                            </div>

                            <div class="ribbon-content">
                                <p class="mb-0">
                                    Presenta a tus pacientes una representación visual del astigmatismo y ayuda a que comprendan esta condición ocular de manera más clara.                                    <br>
                                </p>
                                <p>

                                </p>

                                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-warning float-right"><i class="mdi mdi-access-point mr-1"></i> Astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/1.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-warning float-right"><i class="mdi mdi-access-point mr-1"></i> Astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/2.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-warning float-right"><i class="mdi mdi-access-point mr-1"></i> Astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/3.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-warning float-right"><i class="mdi mdi-access-point mr-1"></i> Astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/4.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-success float-right"><i class="mdi mdi-access-point mr-1"></i> Sin astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/5.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-success float-right"><i class="mdi mdi-access-point mr-1"></i> Sin astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/6.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-success float-right"><i class="mdi mdi-access-point mr-1"></i> Sin astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/7.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="card-box ribbon-box">
                                                            <div class="ribbon ribbon-success float-right"><i class="mdi mdi-access-point mr-1"></i> Sin astigmatismo</div>
                                                                <img class="d-block img-fluid" src="{% static 'images/astigmatic/8.png' %}" alt="First slide" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- end row-->
            </div> <!-- container -->
        </div> <!-- content -->
    </div>

{% endblock content %}

{% block extra_javascript %}
<style>
  .fullscreen-image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
</style>

<script>
 function toggleFullscreen(elementId) {
    var element = document.getElementById(elementId);
    if (!document.fullscreenElement) {
        if (element.getAttribute('src') === '{% static 'images/placeholder.png' %}') {
            element.setAttribute('src', '{% static 'images/test-circle.jpg' %}');
        }
        element.requestFullscreen().catch(err => {
            console.log(err);
        });
    } else {
        if (document.exitFullscreen) {
            document.exitFullscreen().catch(err => {
                console.log(err);
            });
        }
    }
}

document.addEventListener('fullscreenchange', function () {
    if (!document.fullscreenElement) {
        var fullscreenImage = document.getElementById('fullscreen-image');
        if (fullscreenImage.getAttribute('src') !== '{% static 'images/placeholder.png' %}') {
            fullscreenImage.setAttribute('src', '{% static 'images/placeholder.png' %}');
        }
    }
});
</script>

<script src="{% static 'js/jquery.blur.min.js' %}"></script>
<script src="{% static 'js/vendor.min.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/custombox.min.js' %}"></script>
{% endblock %}
